$tribe_color_main: #8b658e;
$tribe_gradient: linear-gradient(to bottom, rgba(139, 101, 142, 1), rgba(139, 101, 142, 0.8)), url(/assets/d1/1.jpg) no-repeat;
$tribe_filter: invert(46%) sepia(9%) saturate(1644%) hue-rotate(248deg) brightness(90%) contrast(83%);
$tribe_color_faded: rgba(139, 101, 142, 0.3);