$tribe_color_main: rgb(165, 32, 35);
$tribe_gradient: linear-gradient(to bottom, rgba(165, 32, 35, 0.6), rgba(165, 32, 35, 0.9)), url(/assets/d1/1.jpg) no-repeat;
$tribe_filter: invert(16%) sepia(35%) saturate(5322%) hue-rotate(342deg) brightness(103%) contrast(96%);
$tribe_color_faded: rgba(165, 32, 35,0.2);